*:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: sans-serif; Raleway;
  height: 667px;
  margin: 0 auto;
  width: 375px;
}

.container {
  width: 100%;
}

.arrow {
  max-height: 22px;
  max-width: 19px;
}

.flag {
  max-height: 22px;
  max-width: 19px;
}

h1 {
  font-family: sans-serif; Raleway;
  text-align: center;
  padding: 23px;
  background-color: #643BD3;
  color: #FFFFFF;
  font-size: 17px;

}
h2 {
  color: #FFFFFF;
  font-size: 16px;
  text-indent: 10px;
  text-transform: uppercase;
  background-color: #643BD3;
  border-top: 1.5px solid #8E8E93;
  border-bottom: 1.5px solid #8E8E93;
  border-left: 1.5px solid #8E8E93;
  border-right: 1.5px solid #8E8E93;
  width: 100%;
  text-weight: bold;

}

.bus-number {
  color: #643BD3;
  font-size: 27px;
  font-weight: bold;
  padding: 10px;
  margin: 15px;
  width: 40px;
}

.bus {
  background-color: #FFFFFF;
  border-left: 1.5px solid #8E8E93;
  border-right: 1.5px solid #8E8E93;
  border-top: 1.5px solid #8E8E93;
  border-bottom: 1.5px solid #8E8E93;
  color: #000000;
  display: flex;
  height: 69px;
  width: 100%;
}

.bus-info {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}


.destination {
  color: #000000;
  font-size: 17px;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.time {
  display: flex;
  flex: 1;
  flex-direction: column;
  order: 2;
  padding: 10px;
  text-align: right;
}

.frequency {
  color: #8c8c8c;
  font-size: 13px;
  margin-top: 2px;


}

.next-bus-time {
  font-size: 17px;
  margin: 7px 0;
}

.na {
  font-size: 17px;
  padding: 20px;
}

/* out OF SERVICE INFORMATION */
.oos-time {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
  text-align: right;
}

.resumes {
  color: #DAA520;
  font-size: 17px;
  margin-top: 10px;
}

.resumetime {
  font-size: 17px;
  margin: 2px;
}

img {
  display: block;
  width: 100%;

}

.footer {
  background-color: #643BD3;
  display: flex;
}

.contain {
  display: inline-block;
  width: 100%;
}

.home {
  max-height: 27px;
  max-width: 27px;

  margin: 20px;

}

.account {
  max-height: 27px;
  max-width: 27px;

  margin: 20px;
}

.microphone {
  max-height: 27px;
  max-width: 27px;

  margin: 20px;
}

.star {
  max-height: 27px;
  max-width: 27px;

  margin: 20px;
}

.search {
  max-height: 27px;
  max-width: 27px;

  margin: 20px;
}
